<div class="row d-flex justify-content-start align-items-center mx-5"> 
    <div class=" col-xl-7"> 
<h1>Editing group</h1>
 <hr>
<%= render 'form' %>
 
<%= link_to 'Show', @group, class:"btn btn-secondary" %> 
<%= link_to 'Back', groups_path, class:"btn btn-secondary" %>
    </div>
</div>