<div class="row d-flex justify-content-start align-items-center mx-5"> 
    <div class=" col-xl-7"> 
<h1>New group</h1>
 <hr>
<%= render 'form' %>
 
<%= link_to 'Back', groups_path %>
    </div>
</div>    