<section class="vh-100 mx-2">
  <div class="container py-2 ">
    <div class="row d-flex justify-content-center align-items-center">
      <div class="col-12">
        <div class="card shadow-2-strong" style="border-radius: 1rem;">
          <div class="card-body  text-left">
          <table class="table table-striped">
            <tr>
              <th scope="col"> Sender </th>
              <th scope="col"> Title </th>
              <th scope="col"> Action </th>
            </tr>

            <% @emails.each do |email| %>
            <tr>
              <td><%= email.sender%></td>
              <td><%= email.description%></td>
              <td><%= link_to(image_tag("delete-icon.svg"), email_delete_from_show_path(email.id) )%></td>
            </tr>
            <% end %>
          </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>